<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Gestion des pannes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2">
        <div class="card">
            <div class="card-header"> Liste des Pannes</div>
            <div class="card-body">
                <form method="get" th:action="@{pannes}">
                    <label>Key word</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Chercher</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>description</th>
                        <th>date Declaration</th>
                        <th>date Resolution</th>
                        <th>status</th>
                        <th>declaré par</th>
                        <th>commentaire</th>
                        <th>assigné à</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${pannes}">
                        <td th:text="${p.description}"></td>
                        <td th:text="${p.dateDeclaration}"></td>
                        <td th:text="${p.dateResolution}"></td>
                        <td th:text="${p.status}"></td>
                        <td th:text="${p.declaredBy?.email}"></td>
                        <td th:text="${p.commentaire}"></td>
                        <td>
                            <form th:action="@{/assignPanne}" method="post">
                                <input type="hidden" name="panneId" th:value="${p.id}"/>
                                <select name="technicienId">
                                    <option value="" th:disabled="*{p.assignedTo != null}"
                                            th:text="${p.assignedTo == null ? 'Sélectionner un technicien' : ''}"></option>
                                    <option th:each="technicien : ${techniciens}" th:value="${technicien.id}"
                                            th:text="${technicien.firstName + ' ' + technicien.lastName}"
                                            th:selected="${technicien.id == p.assignedTo?.id}">
                                    </option>
                                </select>
                        </td>

                        <!-- Cellule pour le bouton Assigner -->
                        <td class="text-center">
                            <button type="submit" class="btn btn-primary btn-block mt-2">Assigner</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,staus:${pages}">
                        <a th:class="${staus.index==currentPage?
                 'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                           th:text="${staus.index}"
                           th:href="@{pannes(page=${staus.index}, keyword=${keyword})}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>